.main-header {
  background-color: #161c35;
}

.main-header__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 320px;
  box-sizing: border-box;
  margin: 0 auto;
  padding-top: 27px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
}

.main-header__logo-holder {
  margin-right: 20px;
}
