.service {
  padding-top: 33px;
  padding-left: 49px;
  padding-right: 60px;
  padding-bottom: 85px;

  color: #ffffff;

  background:
    url("../img/about-mobile@1x.png") 50% 50% no-repeat,
    linear-gradient(to bottom, #141b3b, #141b3b 40%, #192144 40%);
}
